stages:
  - test
  - build_backend
  - build_frontend
  - deploy

# -----------------------------
# TEST STAGE
# -----------------------------
test_job:
  stage: test
  image: node:22
  script:
    - cd backend
    - npm install
    - npm test
  tags:
    - local
  only:
    - main

# -----------------------------
# BUILD STAGE
# -----------------------------
build_frontend:
  stage: build_frontend
  image: docker:24
  services:
    - docker:24-dind   # ต้องการ docker-in-docker
  variables:
    DOCKER_TLS_CERTDIR: "" # ปิด TLS
  tags:
    - local
  script:
    - docker info
    - cd frontend
    - docker build --no-cache -t my-frontend .
    - docker tag my-frontend registry-ui.vecskill.ovec/my-frontend:latest
    - docker push registry-ui.vecskill.ovec/my-frontend:latest
  only:
    - main

build_backend:
  stage: build_backend
  image: docker:24
  services:
    - docker:24-dind   # ต้องการ docker-in-docker
  variables:
    DOCKER_TLS_CERTDIR: "" # ปิด TLS
  tags:
    - local
  script:
    - docker info
    - cd backend
    - docker build --no-cache -t my-backend .
    - docker tag my-backend registry-ui.vecskill.ovec/my-backend:latest
    - docker push registry-ui.vecskill.ovec/my-backend:latest
  only:
    - main


# -----------------------------
# DEPLOY STAGE (SSH to Production)
# -----------------------------
deploy_to_production:
  stage: deploy
  image: alpine:latest
  tags:
    - local
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan 192.168.100.102 >> ~/.ssh/known_hosts
  script:
    - ssh root@192.168.100.102 "
        cd /opt &&
        mkdir -p backend/files &&
        mkdir -p backend/init_db 
      "
    # 1) ส่ง docker-compose.yml ไปให้เครื่อง production
    - scp -r ./docker-compose.yaml root@192.168.100.102:/opt/docker-compose.yaml
    - scp -r ./backend/init_db root@192.168.100.102:/opt/backend
    # 2) SSH เพื่อ pull + deploy เวอร์ชันใหม่ f
    - ssh root@192.168.100.102 "
        cd /opt &&  
        docker compose down &&
        docker rmi -f $(docker images -q) || true &&
        docker compose pull &&
        docker compose --profile production up -d --remove-orphans
      "
  only:
    - main


