stages:
  - test
  - build_backend
  - build_frontend
  - deploy

# -----------------------------
# TEST STAGE
# -----------------------------
test_job:
  stage: test
  image: 192.168.100.180:5000/node:22
  script:
    - npm config set registry http://192.168.100.180:4873
    - cd backend
    - npm install
    - npm test
  tags:
    - docker
  only:
    - main

# -----------------------------
# BUILD STAGE
# -----------------------------
build_frontend:
  stage: build_frontend
  image: 192.168.100.180:5000/docker:26
  services:
    - docker:26-dind   # ต้องการ docker-in-docker
  variables:
    DOCKER_TLS_CERTDIR: "" # ปิด TLS
  tags:
    - docker
  script:
    - docker info
    - cd frontend
    - npm config set registry http://192.168.100.180:4873
    - docker build --no-cache -t my-frontend .
    - docker tag my-frontend registry.vecskill.ovec/my-frontend:latest
    - docker push registry.vecskill.ovec/my-frontend:latest
  only:
    - main

build_backend:
  stage: build_backend
  image: 192.168.100.180:5000/docker:26
  services:
    - docker:26-dind   # ต้องการ docker-in-docker
  variables:
    DOCKER_TLS_CERTDIR: "" # ปิด TLS
  tags:
    - docker
  script:
    - docker info
    - cd backend
    - docker build --no-cache -t my-backend .
    - docker tag my-backend registry.vecskill.ovec/my-backend:latest
    - docker push registry.vecskill.ovec/my-backend:latest
  only:
    - main


# -----------------------------
# DEPLOY STAGE (SSH to Production)
# -----------------------------
deploy_to_production:
  stage: deploy
  image: alpine:latest
  tags:
    - docker
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan 192.168.100.111 >> ~/.ssh/known_hosts
  script:
    - ssh root@192.168.100.111 "
        cd /opt &&
        mkdir -p backend/files &&
        mkdir -p backend/init_db 
      "
    # 1) ส่ง docker-compose.yml ไปให้เครื่อง production
    - scp -r ./docker-compose.yaml root@192.168.100.111:/opt/docker-compose.yaml
    - scp -r ./backend/init_db root@192.168.100.111:/opt/backend
    # 2) SSH เพื่อ pull + deploy เวอร์ชันใหม่ f
    - ssh root@192.168.100.111 "
        cd /opt &&  
        docker compose down &&
        docker rmi -f $(docker images -q) || true &&
        docker compose pull &&
        docker compose --profile production up -d --remove-orphans
      "
  only:
    - main


